<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
   <img src="{{ url_for('static', filename='../static/images/guest.png') }}"  class="profile-img" width="100" height="100">
  Welcome, {{ name }}! <br>
    {{ email }}
</h1>

<div class="column is-4 is-offset-4">
    <h3 class="title">Account info</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/update">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="New email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="name" name="name" placeholder="New username">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="file" name="image" placeholder="New Image" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="New password" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="confirm_password" placeholder="Confirm new password" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="about_me" placeholder="Write something about you" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="datetime-local" name="last_seen" placeholder="Last update date" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Update</button>
        </form>
    </div>
</div>
{% endblock %}